<div class="row">

	<div class="span5 offset9 text-center stolen-surfbox"> 

		<h1 class="custom-font-1">Hello! It's Lizaffe</h1>

		<h2 class="custom-font-1">you are megorilla. RAWWWRRR!!</h2>

		<h1 class="custom-font-2">whats up meg!?!! </h1>

		<%= link_to "Click ME", new_pic_path, :class => 'btn btn-large button-color'%>


	</div>

<!-- <div class="span5 offset1 text-center stolen-surfbox"> 

	<h1 class="custom-font-1">Hello! It's Liz</h1>

	<h2 class="custom-font-1">I'm coding in ruby at firehose weekend and it's pretty freakin awesome.</h2>

	<h1 class="custom-font-2">HIIIIII RACHEL AND SAM!! xoxoxoxo </h1>

	<%= link_to "Click ME", "new_pic_path", :class => 'btn btn-large button-color'%>

</div> -->

</div>

