<div class="span6 offset3 text-center">

	<h1 style="background-color:#FFFF66;">Hello! It's Liz</h1>

	<h2>I'm coding in ruby at firehose weekend and it's pretty freakin awesome.</h2>

	<h1 style="background-color: red;">HIIIIII RACHEL AND SAM!! xoxoxoxo </h1>

</div>