	<h1 class="text-center"> My Pics</h1>
		<% @pics.each do |pic| %>
		<div class="pic-box span3 offset1">
			<h2 class="custom-font-1">
				Hour <%= pic.hour %>	
			</h2>

			<div> 
				<%= image_tag pic.image %>
			</div>
				
			<h3>
				I feel <%= pic.emotion %>
			</h3>
			
			<p class="custom-font-2">
				I learned that <%= pic.learned %>
			</p>

		</div>
<% end %>