body 
	{
		background: url('cayman.jpg') no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		color:white;
	}

	.custom-font-1

{	
	color:white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 100;
	font-size: 44px;
}	

	.custom-font-2

{	
	color:white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 200;
	font-size: 24px;
}	

	.button-color
{
	   background-color: hsl(194, 31%, 62%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fafb", endColorstr="#80aebc");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f8fafb), to(#80aebc));
  background-image: -moz-linear-gradient(top, #f8fafb, #80aebc);
  background-image: -ms-linear-gradient(top, #f8fafb, #80aebc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8fafb), color-stop(100%, #80aebc));
  background-image: -webkit-linear-gradient(top, #f8fafb, #80aebc);
  background-image: -o-linear-gradient(top, #f8fafb, #80aebc);
  background-image: linear-gradient(#f8fafb, #80aebc);
  border-color: #80aebc #80aebc hsl(194, 31%, 53%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
}	

.box h2, .box p, .box h1, .box h3
{
	color:white;
}


